

p {
	font-family: Helvetica;
	font-size: 13px;
	color: white;
}


li {
    float: left;
    display: inline;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.bar {
    list-style-type: none;
    width: 50px ;
  margin-left: auto ;
  margin-right: auto ;

    padding: 0;
    overflow: hidden;
    border: 1px solid #555;
    background-color: #333;
}


.para {
	text-indent: 20px;
}


body {
	background-color: gray;
	margin-left: 25%;
	margin-right: 25%;
}

h3 {
	text-align: center;
	background-color: 5858FA;
}

.border {
	border-style: dashed;
	border-color: white;
}